.user-serach-box {
  height: 50vh;
  display: flex;
  margin: auto 0;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  font-size: 12px;
}

.search-users-input {
  height: 50px;
}

.create-user-form {
  width: 80vw;
  margin: 0 auto;
}

.control {
  display: flex;
  flex-direction: column;
}

.radio {
  margin: 10px 0px 10px 0px;

  & + .radio {
    margin: 10px 0px 10px 0px;
  }
}

.error {
  margin: 20px;
  color: #f14668;
}

input[type='checkbox'] {
  margin-right: 10px;
}

.successful-registration {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  margin: 0 auto;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #48c774;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
