.user-serach-box {
  height: 50vh;
  display: flex;
  margin: auto 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 20px;
}

.search-users-input {
  height: 50px;
}